.select-area {
  &::after {
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    border-radius: var(--bs-border-radius);
    border: 2px dashed rgba(var(--bs-primary-rgb), 0.5);
    content: '';
    z-index: 1;
    cursor: pointer;
  }

  &:hover:after {
    background-color: rgba(var(--bs-primary-rgb), 0.05);
    border-color: var(--bs-primary);
  }

  &-top-end-content {
    position: absolute;
    right: -5px;
    top: -5px;
  }
}