.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  vertical-align: -0.13em;

  &.fade-in svg {
    animation-name: fade-icon;
    animation-duration: 100ms;
    animation-fill-mode: forwards;
  }

  svg {
    display: block;
  }
}

@keyframes fade-icon {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}