.select-area {
  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: 2px dashed rgba(var(--bs-primary-rgb), 0.5);
    content: '';
    z-index: 1;
    cursor: pointer;
  }

  &:hover:after {
    background-color: rgba(var(--bs-primary-rgb), 0.05);
    border-color: var(--bs-primary);
  }
}

.select-area-lg {
  &::after {
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px;
  }
}

