name: Test e2e

on:
  - push
  - pull_request

jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - uses: pnpm/action-setup@v4
      name: Install pnpm
      with:
        run_install: false

    - name: Install Node.js
      uses: actions/setup-node@v4
      with:
        node-version: 24
        cache: "pnpm"

    - name: Install dependencies
      run: pnpm install

    - name: Install Playwright Browsers
      run: pnpm --filter @dooksa/components exec playwright install --with-deps

    - name: Run Playwright tests
      run: pnpm --filter @dooksa/components exec playwright test

    - uses: actions/upload-artifact@v4
      if: ${{ !cancelled() }}
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
